body {
    margin: 0;
    padding: 0;
}

@import '~spectre.css/docs/dist/spectre.min.css';
@import '~spectre.css/docs/dist/spectre-exp.min.css';
@import '~spectre.css/docs/dist/spectre-icons.min.css';
.bg-gray {
    background: #f8f9fa;
    color: #667189;
    padding: 1rem;
}

.bg-dark {
    background: #50596c;
    color: #fff;
    padding: 1rem;
}

.bg-primary {
    background: #5764c6;
    color: #fff;
    padding: 1rem;
}

.section-header {
    padding: 1rem .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.section-hero {
    position: relative;
    z-index: 300;
}

.content-container {
    padding: 7rem 1rem 5rem 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-footer {
    color: #acb3c2;
    margin-top: 0.5rem;
}

.grid-footer p {
    margin: 0 0 1rem;
}

.search-bar-container {
    width: 80%;
}

.card .card-title {
    text-align: center;
}

.ask-bid.ask {
    color: red;
}

.ask-bid.bid {
    color: green;
}